@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: #433ba0;
	background: linear-gradient(
		45deg,
		rgba(67, 59, 160, 1) 0%,
		rgba(78, 196, 202, 1) 100%
	);
	color: #fff;
	font-family: Courier, serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.numbers {
	display: flex;
	gap: 2px;
	height: 120px;
	transform: translate(6%, 24%);
}

.number1 {
	position: relative;
	height: 104px;
	width: 28px;
	background: #fff;
	border-radius: 4px;
	transform: translate(40%);
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
	z-index: 3;
	left: -6px;
}

.number11 {
	position: absolute;
	height: 44px;
	width: 22px;
	background: #fff;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	z-index: 1;
	transform: rotate(50deg);
	left: -13px;
	top: 0px;
}
.number0,
.number01 {
	height: 58px;
	width: 58px;
	border-radius: 50%;
	display: flex;
	border: 24px solid white;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
	margin: 0 2px 0 2px;
}

.number0 {
	z-index: 2;
	transform: translate(-4%);
}

.number01 {
	transform: translate(-22%);
}

h1 {
	font-size: 90px;
	margin: 0;
}

h3 {
	font-size: 27px;
	margin: 0;
	transform: translate(0, -80%);
}
